{% extends 'base.html' %}

{% block title %}
    הזמנות שלא נמסרו
{% endblock %}

{% block body %}
    <h1>הזמנות שלא נמסרו</h1>
    <div class="table-responsive container-fluid">
        <table class="table table-hover table-bordered">
            <tr class="table-primary">
                {% for header in headings %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
                {% for row in data %}
                    <tr>
                        <td>{{row.name}}</td>
                        <td>{{row.phone}}</td>
                        <td>{{row.address}}</td>
                        <td>{{row.shipment_date}}</td>

                        {% if row.paid == "שולם" %}
                        <td>✅</td>
                        {% else %}
                        <td>❌</td>
                        {% endif %}

                        {% if row.delivered == "נמסר" %}
                        <td>✅</td>
                        {% else %}
                        <td>❌</td>
                        {% endif %}
                        
                        <td>{{row.delivered}}</td>
                        <td>{{row.quantity}}</td>
                    <td><a class="btn btn-info text-nowrap" href="/is_order_exists?phone={{row.phone}}">עדכן</a></td>
                    <td><a class="btn btn-danger text-nowrap" href="/remove_order?phone={{row.phone}}">מחק</a></td>
                    </tr>
                {% endfor %}
        </table>
    </div>
    <form action="/" method="GET">
        <button type="submit" value="Submit" class="btn btn-primary text-nowrap btn-lg">דף הבית</button>
    </form>
{% endblock %}